name: SSM append file on private EC2

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  ssm:
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::626614672806:role/pr_dr_oidc_github
          aws-region: ap-northeast-1

      - name: Who am I (debug)
        run: aws sts get-caller-identity

      - name: Append message to private EC2 file via SSM
        run: |
          set -euo pipefail

          aws ssm send-command \
          --document-name "AWS-RunShellScript" \
          --instance-ids "i-053e4646c604abe8a" \
          --comment "GitHub OIDC -> append text to private EC2" \
          --parameters '{"commands":["mkdir -p /tmp/mj-tesst","echo \"IM COMING Private Instance!\" >> /tmp/mj-tesst/hello.txt"]}'

